body {
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.right-top {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top:-70px;


}
.left-top {
    display: flex;
    position: relative;
    right: 50px;
    top:-7px;
    
    

}
li {
    display: inline;
    padding: 10px;
}
.logo {
    display: inline;
    position: relative;
    left: 380px;
    top:100px;
    width:100%;
}
.text input {
    display: flex;
    position: relative;
    left:280px;
    top:100px;
    width: 500px;
    padding: 13px;
    padding-left: 60px;
    font-size: 16px;
    border-radius: 30px;
    border:2px solid rgb(196, 190, 190);
    

}
.icon {
    position: relative;
    left: 300px;
    top: 70px;
}
.micro {
    position: relative;
    left:740px;
    top: 40px;
}
.search {
    position: relative;
    left:370px;
    top:70px;
    width: 100%;
}
.search button {
    border: none;
    height: 35px;
    width: 150px;
    color: grey;
}
.prg {
    position:relative;
    left:370px;
    top:70px;
}
.left-bottom {
    position: relative;
    top:135px;
}
.right-bottom {
    position: relative;
    top: 120px;
    left:780px;
}
.turkey {
    position: relative;
    top:130px;

}
hr {
    position: relative;
    top:130px;
}
a{
color: black;
text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
.right-top button {
    color: white;
    border: none;
    background-color: #4584ef;
    padding:8px 14px;
    font-weight: 700px;
    border-radius: 3px;
    cursor: pointer;

}
.right-top img {
    position: relative;
    top:7px;
    opacity: 0.5;
}
.right-bottom a {
    color: rgb(128, 128, 128);
}
.left-bottom a {
    color:rgb(128, 128, 128)
}
.turkey {
    color: gray;
}
#span {
    color: rgb(12, 12, 109);
    text-decoration: underline;
}