.header {
    color: black;
    width:100%;
    
    display: flex;
   
    height:50px;
}
body {
    box-sizing: border-box;
    margin:0px;
    
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;

}
.left-top {
    width: 250px;
    height: 50px;

        
}
.left-top li {
     float: left;
     margin-top:20px;
     margin-right: 20px;
     list-style-type: none;
     font-size: 14px;
     

}

.right-top li {
    
    display: inline;
    justify-content:end;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 14px;



}
.right-top li button {
    background-color :#4285f4; 
    border: none;
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
}  
    .right-top {
    position:relative;
    width: 100%;
   display: flex;
   justify-content: flex-end;
   margin-right: 30px;
    



    
}
.right-top img {
    position: relative;
    top:7px;
}
 .logo {
    display:block;
     height:95px;
     line-height:95px;
    width:272px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;

} 
.logo img {
    width: 272px;
    height: 95px;

}
#search {
    width: 515px;
    height: 46px;
    padding: 3px 3px 3px 50px;
    text-align: center;
    border:1px solid lightgray;
    border-radius: 25px;
    font-size: 16px;

    

  
}
input {
    width: 515px;
    height: 46px;
    margin:0 auto;
    display: block;
    
}
.icon {
    position: relative;
    left: 440px;
    top:70px;
}
.micro {
    position: relative;
    left:890px;
    top:40px;
}

.button button {
    display: inline-block;
    width: 120px;
    height: 34px;
    padding: 1px 6px;
    border:hidden;
    border-radius: 4px;
    color:#5f6368;
    font: 13px;}
 .left-bottom {
   display: flex;  
   font-size: 14px;
   color: #5f6368;
 }  
 .right-bottom {
     display: flex;
     justify-content: flex-end;
     position: relative;
     top:-25px;
     font-size: 14px;
     color: #5f6368;
    
     
     
 } 
 .hr {
     position: relative;
     top:-10px;
 }
 a:hover {
     text-decoration: underline;
 }



.alt {
    display: ;

}  

    



.button{
    text-align: center;
}
p{
   text-align: center; 
   font-size: 14px;
}
li {
    list-style-type: none;
    margin: 6px;
    

}
.right-bottom a {
    color: #5f6368;
}
.left-bottom a {
    color: #5f6368;
}
.turkey {
    display: flex;
    color:#5f6368;
}